/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f70404;
    padding: 10px 20px;
    width: auto;
}

.logo {
  
    color: #faf7f7;
    font-size: 30px;
    font-weight: 900;
    text-shadow: 
                1px 1px 0 rgba(0, 0, 0, 0.5),
                2px 2px 0 rgba(0, 0, 0, 0.4),
                3px 3px 0 rgba(0, 0, 0, 0.3),
                4px 4px 0 rgba(0, 0, 0, 0.2),
                5px 5px 0 rgba(0, 0, 0, 0.1); 
}


.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin-left: 20px;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background 0.3s;
}

.nav-list a:hover {
    background-color: #0f0f0f;
}
/** Search container*/
.search-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
    align-items: center;
}

.search-input {
    padding: 10px 20px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #45a049;
}
/*---header---*/


 










.toggle {
    display: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer ;
}
/****---Hash Tag style start----*/



@media (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px; /* Height of the navbar */
        left: 0;
        background-color: #333;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-list li {
        margin: 10px 0;
    }

    .toggle {
        display: block;
    }
    
}
